@model Proyecto2.Models.Platillo

@{
    ViewData["Title"] = "Details";
}

<h1 class="alert alert-primary" role="alert">Detalles de</h1>

<div>
    <h4>Platillo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dd class="col-sm-10">
            @if (Model.Imagen != null)
            {
                var base64 = Convert.ToBase64String(Model.Imagen);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img src="@imgSrc" width="250" height="250" />
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMenuNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMenuNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-danger"> Volver</a>
</div>
